.right-panel, .right-panel-show, .right-panel-update{
    position: absolute;
    background: #343e4f;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    width: 40%;
    right: 0;
    visibility: hidden;
}
.right-panel-title{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
}
.panel-name{
    margin: 0;
}
.right-panel-title img{
    width: 3%;
    height: 3%;
    cursor: pointer;
}
.input-name{
    margin: 15px 0 5px 0;
    color: white;
    font-size: 10px;
}
.big-input, .small-input{
    height: 35px;
    border: none;
    border-radius: 6px;
    outline: none;
    color: #383838;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background: white;
}
.big-input{
    width: 80%;
}
.small-input{
    width: 99%;
}
.attr-title{
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.add-attr-btn{
    color: #67c2f6;
    border-bottom: 1px dashed #67c2f6;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}
.button-add-panel{
    margin: 35px 0 0 0;
    border: none;
}
.attribute{
    width: 80%;
}
.trash-btn{
    width: 80%;
    height: 80%;
    cursor: pointer;
}
.right-panel-show-name, .right-panel-show-value{
    font-size: 14px;
    color: #b6b6b6;
    margin-bottom: 15px;
}
.right-panel-show-value{
    color: white;
}
.table-product-show{
    border-spacing: 0 30px;
}
.tr-attr-value{
    padding-left: 20px;
}
.tool-panel{
    display: flex;
    justify-content: flex-end;
}
.form-tool-panel{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form-tool-panel img, .form-tool-panel input[type=image]{
    margin-right: 5px;
    width: 4%;
    height: 100%;
}
